
.contact__page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;

  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;

    input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #c8c8c8;
      margin-bottom: 50px;
      font-size: 18px;
      padding: 5px 10px;

      &:focus {
        border-bottom: 2px solid #9D7BA8;
      }
    }
  }

  .submit-btn {
    width: auto;
    font-size: 20px;
    padding: 10px 30px;
    border: 0;
    border-radius: .4rem;
    background-image:linear-gradient(131deg, #878898, #9D7BA8, #9D7BA8, #9D7BA8);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    font-family: 'Montserrat', serif;
    cursor: pointer;
    margin-top: 15px;
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 0.5em 0.5em -0.4em #878898ba;
      background-size: 100% 100%;
      transform: translateY(-0.15em);
    }
  }
}